{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{data|tojson}}
</script>
<script  type="text/javascript" src="{{ url_for('static', filename = 'welcome.js') }}"> </script>
<div class="log-in">
    {{ message }}
</div>
<!-- <b id="welcome_div">Welcome to <span id="CPI_span">Columbia Course Recommendation</span> <br /> -->
<div class="main-content">
    
    <img class="about_logo" src="../static/images/web_home--4.png" style="object-fit: contain;"/>

    <div id="about_text">
        <div id="about_intro">
            The full-stack project aims to provide a course recommendation system <br/>
            to students of Columbia University based on their previous course selection, <br/>
             track interests and program checklist.
        </div>
    </div>

    <img class="teams_logo" src="../static/images/web_about--2.png" style="object-fit: contain;"/>

    <div id="team"  style="width:40%; margin: auto;">
        <ul class="no-bullets" >
            <li class="list-member">
                Xin Huang xh2510@columbia.edu
            </li>
            <li class="list-member">
                Zhiqing Wang zw2780@columbia.edu
            </li>
            <li class="list-member">
                Jinxuan Tang jt3302@columbia.edu
            </li>
            <li class="list-member">
                Chenhao Wang cw3355@columbia.edu
            </li>
            <li class="list-member">
                Yuxian Chen yc3840@columbia.edu
            </li>
            <li class="list-member">
                Yiting Dai yd2674@columbia.edu
            </li>
            <li class="list-member">
                Haoran Wang hw2897@columbia.edu
            </li>
        </ul>
    </div>
</div>





{% endblock %}